.body-perfil {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2f;
    color: white;

}

#fondo-perfil {
    padding: 20px;
    background: linear-gradient(to bottom, #264d50, #402850); /* Degradado de arriba hacia abajo */
    border-radius: 2px;
    max-width: 1210px; 
    height: 150px;
    margin: 0px auto; 
    position: relative; 
    z-index: 1;
}

.profile-details {
    
    position: absolute; /* Coloca la imagen de manera absoluta */
    top: 350px; /* Ajusta este valor para que la imagen se solape sobre el fondo */
    left: 50%; /* Centra horizontalmente */
    width: 500px;
    height: 200px;
    max-height: 200px;
    transform: translateX(0%); /* Ajuste adicional para centrar */
    margin-left: 0;
    margin-right: 0;
    z-index: 2; /* Asegura que esté sobre el fondo */
    text-align: left;
    padding: 5px; /* Reduce el espacio interno */
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño */

}

.form-group {
    display: flex; /* Activa el diseño flex */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 15px; /* Espacio entre las filas */
}

.form-group label {
    flex: 1; /* El label ocupará el 50% del espacio disponible */
    text-align: left; /* Asegura la alineación a la izquierda */
    margin-right: 10px; /* Espacio entre el label y el input */
}

.form-group input {
    flex: 2; /* El input ocupará el resto del espacio disponible */
    padding: 8px; /* Espacio interno del input */
    border: 1px solid #ccc;
    border-radius: 5px;
}


.profile-image {
    float: none; /* Elimina el float para usar posicionamiento */
    position: absolute; /* Coloca la imagen de manera absoluta */
    top: 175px; /* Ajusta este valor para que la imagen se solape sobre el fondo */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-190%); /* Ajuste adicional para centrar */
    margin-left: 0;
    margin-right: 0;
    z-index: 2; /* Asegura que esté sobre el fondo */
    text-align: center;
}

.profile-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #2d2d2f;
}

.profile-details {
    flex: 2;
    padding-left: 20px;
}

.profile-details form {
    display: flex;
    flex-direction: column;
}

.profile-details label {
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-details input {
    margin-bottom: 0px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-actualizar {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-actualizar:hover {
    background-color: #0056b3;
}
