<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/error.css' %}">
</head>

<body>
    <div class="container">
        <h1>404</h1>
        <h2>¡Oops! Página no encontrada</h2>
        <p>La página que buscas no existe o ha sido movida. Intenta volver a la página principal.</p>
        <a href="/" class="btn">Ir al Inicio</a>
    </div>
</body>
</html>
