<header class="color-secundario d-flex justify-sb">
    <div class="barra f-left d-flex pl-1">
        <div class="logo"></div>
        <ul class="letra-normal pl-1 d-flex">
            <li class="pa-1"><a class="color-basico-fb" href="{% url 'inicio' %}">Inicio</a></li>
            <li class="pa-1"><a class="color-basico-fb" href="#">Nosotros</a></li>

            {% if user.is_authenticated %}
                <!-- Si el usuario está autenticado, mostramos las siguientes opciones -->
                <li class="pa-1"><a class="color-basico-fb" href="#">Perfil</a></li>
                <li class="pa-1"><a class="color-basico-fb" href="#">Comprar</a></li>
                <li class="pa-1"><a class="color-basico-fb" href="#">Portafolio</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="barra f-right d-flex pr-1 gap-1">
        {% if user.is_authenticated %}
            <!-- Si el usuario está autenticado -->
            <div class="boton pa-1 borde-1">
                <span class="color-basico-fw f-b">Bienvenido, {{ user.nombres }}</span>
            </div>
            <form action="{% url 'usuarios:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="color-primario pa-1">Cerrar Sesión</button>
            </form>
            
        {% else %}
            <!-- Si el usuario no está autenticado -->
            <div class="boton color-primario pa-1">
                <a class="color-basico-fw" href="{% url 'usuarios:login' %}">Iniciar Sesión</a>
            </div>
            <div class="boton pa-1 borde-1">
                <a class="color-basico-fw" href="{% url 'usuarios:signup' %}">Crear Cuenta</a>
            </div>
        {% endif %}
    </div>
</header>
