<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% load static %}  <!-- Cargamos las etiquetas estáticas -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    {% include 'header.html' %}


    <!-- Sección Principal -->
    <section class="container-info color-doble d-flex ">
        <!-- Contenido Izquierdo -->
        <div class="info-texto pl-5">
            <div class="logo-completo pb-1"></div>
            <h2 class="color-terciario-fuente">¡Invierte al instante, donde quieras y cuando quieras!</h2>
            <p class="color-terciario-fuente pt-1 pb-3">
                Invertir nunca fue tan sencillo: todo lo que necesitas en la plataforma de inversión definitiva, accesible desde cualquier dispositivo.
            </p>
            {% if not user.is_authenticated %}
            <!-- Botones visibles solo si el usuario NO está autenticado -->
            <div class="d-flex gap-1 pt-1">
                <div class="boton color-primario color-basico-fw pa-1">
                    <a class="color-basico-fb f-b" href="{% url 'usuarios:login' %}">Inicia Sesión</a>
                </div>
                <div class="boton borde-1 color-basico-fw pa-1">
                    <a class="color-basico-fw f-b" href="{% url 'usuarios:signup' %}">Regístrate</a>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- Contenido Derecho -->
        <div class="info-imagen d-flex pl-5">
            <img src="{% static 'img/2.png' %}" alt="Pantalla" class="imagen-pantalla">
        </div>
    </section>
</body>
</html>
