<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}  <!-- Cargamos las etiquetas estáticas -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header class="color-secundario d-flex justify-sb">
        <div class="barra f-left d-flex pl-1">
            <div class="logo"></div>
            <ul class="letra-normal pl-1 d-flex">
                <li class="pa-1"><a class="color-basico-fb" href="{% url 'inicio' %}">Inicio</a></li>
                <li class="pa-1"><a class="color-basico-fb" href="#">Nosotros</a></li>
            </ul>
        </div>
        <div class="barra f-right d-flex pr-1 gap-1">
            <div class="boton color-primario  pa-1">
                <a class="color-basico-fw" href="#">Inicia Sesión</a>
            </div>
            <div class="boton pa-1 borde-1">
                <a class="color-basico-fw f-b" href="{% url 'usuarios:signup' %}">Regístrate</a>
            </div>
        </div>
    </header>
    <section class="container-info d-flex">
        <!-- Columna Izquierda: Formulario de Login -->
        <div class="info-login d-flex flex-column">
            <div class="logo-completo-black"></div>
            <h2 class="pb-3">Iniciar Sesión</h2>

            <form method="post" action="{% url 'usuarios:IniciarSesion' %}" class="flex-column pb-1">
                {% csrf_token %}
                <input type="email" name="email" id="email" class="input-login" placeholder="Email" required>
                <input type="password" name="password" id="password" class="input-login" placeholder="Contraseña" required>
                <button type="submit" class="boton color-primario color-basico-fw pa-1">
                    <span class="color-basico-fb f-b">Ingresar</span>
                </button>
            </form>
            
        </div>
    
        <!-- Columna Derecha: Imagen -->
        <div class="imagen-login">
            <img src="{% static 'img/imagen.png' %}" alt="Pantalla" class="imagen-pantalla">
        </div>
    </section>

    {% include 'mensajes.html' %}
    <script src="{% static 'js/mensajes.js' %}"></script>

</body>
</html>