<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
</head>

<body class="body-perfil">
    {% include 'header.html' %}

    <div class="color-cuatro pt-3">
        <h3 class="pb-1 f-xb color-basico-fw"
            style="border-bottom: 2px solid #ccc; margin-left: 50px; margin-right: 50px;">
            Perfil de Usuario
        </h3>
    </div>

    <div id="fondo-perfil"></div>

    <div class="profile-image">
        <img src="{% static 'img/usuario.png' %}" alt="Imagen de perfil">
    </div>

    <div class="profile-details">
        <form action="{% url 'usuarios:updatePerfil' %}" method="POST">
            {% csrf_token %}
    
            <div class="form-group">
                <label for="nombre">Nombre completo:</label>
                <input type="text" id="nombre" name="nombre" value="{{ usuario.nombres }}" required>
            </div>
    
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ usuario.email }}" required>
            </div>
    
            <div class="form-group">
                <label for="contraseña_actual">Contraseña Actual:</label>
                <div style="display: flex; align-items: center;">
                    <input type="password" id="contraseña_actual" name="contraseña_actual" required>
                    <button type="button" class="toggle-password" data-input="contraseña_actual">Mostrar</button>
                </div>
            </div>
    
            <div class="form-group">
                <label for="nueva_contraseña">Nueva Contraseña:</label>
                <div style="display: flex; align-items: center;">
                    <input type="password" id="nueva_contraseña" name="nueva_contraseña" required>
                    <button type="button" class="toggle-password" data-input="nueva_contraseña">Mostrar</button>
                </div>
            </div>
    
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" value="{{ usuario.telefono }}" required>
            </div>
    
            <button type="submit" class="btn-actualizar">Actualizar</button>
        </form>
    </div>
    

    {% include 'mensajes.html' %}
    <script src="{% static 'js/passwordToggle.js' %}"></script>
    <script src="{% static 'js/mensajes.js' %}"></script>
</body>

</html>