<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/portafolio.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    {% include 'header.html' %}

    <div class="container">
        <div class="color-cuatro pt-3">
            <h3 class="pb-1 f-xb color-basico-fw"
                style="border-bottom: 2px solid #ccc; margin-left: 50px; margin-right: 50px; display: flex; justify-content: space-between;">
                <span>Portafolio</span>
                <span>{{ user.nombres }}</span>
            </h3>
        </div>
            
        <div class="sorting-options" style="margin: 20px 50px; display: flex; align-items: center;">
            <label for="sort-by" style="margin-right: 10px; font-family: 'MontserratBold'; color: #aaaaab;">Ordenar por:</label>
            <select id="sort-by" style="padding: 10px; border-radius: 5px; border: 1px solid #ccc; font-family: 'SFUIDisplayLight'; ">
                <option value="">Seleccionar...</option>
                <option value="nombre-asc">Nombre (Ascendente)</option>
                <option value="nombre-desc">Nombre (Descendente)</option>
                <option value="rendimiento-asc">Ganancia/Perdida (Ascendente)</option>
                <option value="rendimiento-desc">Ganancia/Perdida (Descendente)</option>
            </select>
        </div>

        {% if mensaje %}
    <p>{{ mensaje }}</p>
    {% else %}
    <table class="tabla-portafolio">
        <thead>
            <tr>
                <th>Acción</th>
                <th>Número de Acciones</th>
                <th>Fecha de Compra</th>
                <th>Costo de Compra por Acción</th>
                <th>Precio Actual</th>
                <th>Costo Total</th>
                <th>Costo Mercado Total</th>
                <th>Ganancia/Perdida</th>
                <th>Porcentaje de Ganancia/Perdida</th>
            </tr>
        </thead>
        <tbody id="portafolio-body">
            {% for accion in acciones_portafolio %}
            <tr>
                <td>{{ accion.nombre }}</td>
                <td>{{ accion.cantidad }}</td>
                <td>{{ accion.fecha_compra }}</td>
                <td>{{ accion.precio_compra|floatformat:3 }}</td>
                <td>{{ accion.precio_actual|floatformat:3 }}</td>                
                <td>{{ accion.costo_total|floatformat:2 }}</td>
                <td>{{ accion.costo_mercado_total|floatformat:2 }}</td>
                <td>
                    {% if accion.obtener_rendimiento_dolares >= 0 %}
                        <span style="color: green;">+{{ accion.obtener_rendimiento_dolares|floatformat:2 }}</span>
                    {% else %}
                        <span style="color: red;">{{ accion.obtener_rendimiento_dolares|floatformat:2 }}</span>
                    {% endif %}
                </td>
            
                <td>
                    {% if accion.obtener_rendimiento_porcentaje >= 0 %}
                        <span style="color: green;">+{{ accion.obtener_rendimiento_porcentaje|floatformat:2 }}%</span>
                    {% else %}
                        <span style="color: red;">{{ accion.obtener_rendimiento_porcentaje|floatformat:2 }}%</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">No tienes acciones en tu portafolio.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% endif %}
    
    </div>

    {% include 'mensajes.html' %}
    <script src="{% static 'js/mensajes.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#sort-by').change(function() {
                var sortBy = $(this).val();
                var rows = $('#portafolio-body tr').get();
                rows.sort(function(a, b) {
                    var A, B;
                    if (sortBy.includes('nombre')) {
                        A = $(a).children('td').eq(0).text().toUpperCase();
                        B = $(b).children('td').eq(0).text().toUpperCase();
                    } else {
                        A = parseFloat($(a).children('td').eq(7).text());
                        B = parseFloat($(b).children('td').eq(7).text());
                    }
                    if (sortBy.includes('asc')) {
                        return (A < B) ? -1 : (A > B) ? 1 : 0;
                    } else {
                        return (A > B) ? -1 : (A < B) ? 1 : 0;
                    }
                });
                $.each(rows, function(index, row) {
                    $('#portafolio-body').append(row);
                });
            });
        });
    </script>
</body>
</html>
